.search-box {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
}

.monsters-search-box {
    color: blue;
    background-color: yellow;
    width: 40%;
    max-width: 300px;
    text-align: center;
    font-size: 15px;
}